/*================================*/
:root {
  --lightBlue: #00b5cc;
  --green: #b2df28;
  --darkGreen: #92b723;
  --black: #141414;
  --lightBlack: hsla(0, 0%, 8%, 0.93);
  --light: #ffffff;
}

/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 1px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #b2df28 !important;
}

bg-light {
  background-color: var(--lightBlack) !important;
}

h5 {
  color: var(--green);
}
.fa-brands {
  color: var(--green);
}
.fa-brands:hover {
  color: var(--darkGreen);
}
